header-pinned/*HEADER*/
body{
    margin:0px;
}
#header-pinned {
    font: 16px Lato;
    color: #333;
    font-weight: 400;
    /* margin-right: 100px; */
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #eee;
    z-index: 5;
    -webkit-transition: top 0.25s linear;
    -moz-transition: top 0.25s linear;
    -o-transition: top 0.25s linear;
    transition: top 0.25s linear;
}

.is-visible {
    top: 0px !important;
}

#header-pinned .content {
    height: 49px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header-pinned *{
    color:#333;
    font-weight: 300;
    text-decoration: none;
}

#header-pinned  .subnav a {
    color: #1696d2;
}

#header-pinned .subnav a:hover{
    color:#000;
}

#header-pinned .site-logo {

    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    left: 10px;
    margin-top: 7px;
    background: url(https://www.urban.org/sites/all/themes/urban/images/logo-mini-dark.png) no-repeat;
    background-size: 34px 34px;
}

#header-pinned .title {
    font-size: 14px;
    line-height: 49px;
    margin: 0 65px 0 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#header-pinned .title {
    font-size: 20px;
    margin-left: 80px;
}

#header-pinned .title span,
#header-pinned .title a {
    display: inline;
}

/*#header-pinned .title a:hover{
     color:#1696d2;
}


.subnav a {
   color:#1696d2;
}*/
#header-pinned .share-icons {
    background-color: transparent;
    width: 69px;
    height: 50px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 60px;
    position: absolute;
    right: 0;
}

#header-pinned .share-icons .shareThisP {
    border-top: 0;
    border-left: 1px solid #e6e5e5;
    height: 41px;
    padding: 9px 0 0;
}

#header-pinned .share-icons .shareThisB {
    float: none;
}

#header-pinned .share-icons .shareThisB {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2396px;
    height: 32px;
    width: 32px;
    float: none;
    margin: 0 auto;
}

#header-pinned .share-icons .shareThisB:hover {
    background-position: 0 -1948px;
}

#header-pinned .share-icons .shareThisW {
    display: none;
    float: none;
    top: 50px;
    right: 0;
    left: auto;
    width: 300px;
    text-align: right;
    border: 0;
    background: transparent;
}

#header-pinned .share-icons .shareThisW {
    background-color: #fff;
    /* border: 1px solid #e6e5e5; */
    position: absolute;
    top: 50px;
    left: -100px;
    padding: 5px;
    border-top: 0;
    width: 160px;
    z-index:3;
}

#header-pinned .share-icons .addthis_toolbox {
display: inline-block;
    width: auto;
    /* border: 1px solid #e6e5e5; */
    border-top: 0;
    background: #fff;
    padding: 10px 10px 0 0;
    margin: 0 auto;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_facebook {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2056px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_facebook:hover {
    background-position: 0 -1609px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_twitter {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1169px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_twitter:hover {
    background-position: 0 -1577px;
}

#header-pinned .share-icons .at15t_linkedin.at16t_linkedin,
#header-pinned .share-icons .addthis_button_linkedin {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1641px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_linkedin.at16t_linkedin,
#header-pinned .share-icons .addthis_button_linkedin:hover {
    background-position: 0 -1379px;
}

#header-pinned .share-icons .at15t_google_plusone_share.at16t_google_plusone_share,
#header-pinned .share-icons .addthis_button_google_plusone_share {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1719px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1449px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email:hover {
    background-position: 0 -1271px;
}

#header-pinned .share-icons [class^="addthis_button_"] {
    display: inline-block !important;
    margin: 0 0 0 10px;
}

#header-pinned .share-icons .addthis_toolbox a {
    margin-bottom: 5px;
}

.at_a11y {
    display: none;
}

.header-links {
    height: 40px;
    background-color: #fff;
    width: 100%;
}

.header-links ul {
    height: 40px;
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.header-links ul li {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 22%;
}

#subhead{
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 50px;
    height: 35px;
    background: rgba(255,255,255, .9);
    border-bottom: solid 1px #ccc;

}

ul{
/*        list-style: outside none none;
    width: 100%;
    margin: 0 auto;
    text-align: center;*/
}

#subhead ul li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding-left: 1%;

}

#subhead a{
   color:#333;
   display: block;
   padding:10px;

}

#subhead .active {
  border-bottom: solid 3px #1696d2;
    color:#1696d2;
    padding-bottom: 8px;
}

#subhead a:hover{
  background-color:rgba(22,150,210, .8);
  color:#fff;


}

.header-links a {
    color: #fff;
}

.header-links ul li:hover,
.header-links ul li.hover_effect {
    background-color: rgba(0, 155, 210, .8);
}

/*end css for header*/


* {
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #353535;
  text-align: left;
}

body {
  margin: 0;
}

#introMap {
  height: 900px;
  font-size: 16px;
}

#intro {
  position: relative;
  margin-top: 2em;
  background-color: rgb(42, 44, 44);
  height: 900px;
  margin-bottom: 5rem;
}

#introText {
  position: absolute;
  color: white;
  width: 80%;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#explorer {
  margin: 3rem auto;
}

h1, h2 {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: white;
}

h1 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 3rem;
}

h2 {
  max-width: 60%;
}

h3 {
  width: 95%;
  line-height: 31px;
  max-width: 760px;
  font-weight: 700;
  margin: 0 auto;
}

p#date {
  font-size: 14px;
  color: #353535;
  text-align: center;
  margin: 0px auto;
  padding-top: 100px;
  max-width: 95%;
  color: white;
}

.arrowDown {
  width: 40px;
  margin: 0 auto;
  padding-top: 20px;
}

.arrowDown::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(45deg);
}

#topText {
  background: #fff;
  position: relative;
  margin-bottom: 0;
}

p.general {
  max-width: 760px;
  margin: 2rem auto;
  line-height: 1.8rem;
}

p.postScrolly {
  margin-top: 5rem;
}

a {
  color: #1696d2;
  text-decoration: none;
}

/*footer*/

footer {
    position: relative;
    background-color: #f1f2f2;
    margin-top: 100px;
    padding-bottom: 25px;
    bottom: 0;
    overflow: hidden;
    height:auto;
    z-index: 10000;
}

footer .content{
    width: calc(100% - 40px);
    max-width: 750px;
    margin: 0 auto;

}

h4 {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 1.3;
     text-transform: uppercase;
    font-weight: 700;
}

#left {
  float: left;
  width: 45%;
  padding-left: 0px;
  padding-right:0px;

}

#right {

  margin: 0 auto;
  width: 500px;
   padding-right: 0px;
  padding-left: 0px;
  margin-top: 50px;
    font-size:16px;
    line-height: 1.3;
}

.footerButton{
  float: left;
  height: 40px;
  width: 135px;
  border: 1px solid #333;
  cursor: pointer;
  font: 13px Lato;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-decoration: none !important;
  color: #353535 !important;
  margin-top: 5px;
}
.footerButton:hover{
  background: #fdbf11;
  color: #353535 !important;
}
.footerButton.researchButton{
  margin-left: 15px;
}
.footerTopP{
  clear: both;
  padding-top: 14px;
}
#learnMore{
    display: inline-block;
    padding-bottom: 33px;
    padding-top: 9px;
}
#learnMore a{
  display: inline-block;
  line-height: 20px;
}

footer p {
    font-size: 16px;
}

footer h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 60px;
}

footer h3, footer h4{
  width: 100%;
   font-weight: 700;
   margin-top: 60px;
}

.credits {
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 16px;
    font-style: italic;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 20px;
}

.urbanstatement {
  font-style: italic;
  color: #353535;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 40px;
}

p.creditsWho {
  font-size: 16px;
  margin: 0;
}

p.creditsWho > a {
  font-size: 16px;
}


/* Mapbox css */

.mapboxgl-ctrl-attrib-inner > a {
  font-size: 14px;
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}


/* SMALLER SCREENS MEDIA QUERIES */


@media (max-width: 1170px) {
  p.postScrolly {
    margin-top: 0rem;
  }
}

@media (max-width: 770px) {

  #containerFeature {
    margin: 0 8%;
  }

  #intro {
    height: 96vh;
    margin-left: -10%;
    margin-right: -10%;
  }

  #introMap {
    height: 96vh;
  }

  #introText {
    width: 90%;
    top: 50%;
  }

  #topText {
    margin-bottom: 2.667rem;
  }

  h3 {
    width: 100%;
  }

  h2 {
    max-width: 95%;
    font-size: 1.7rem;

  }
}

@media (max-width: 600px) {

  * {
    font-size: 18px;
    line-height: 22px;
  }

  footer {
    margin-top: 2.667rem;
  }

  #intro {
    height: 94vh;
    margin-left: -5%;
    margin-right: -5%;
    margin-bottom: 2.667rem;
  }

  #introMap {
    height: 94vh;
  }

  #introText {
    width: 95%;
    top: 53%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p#date {
    padding-top: 80px;
  }

  #containerFeature {
    margin: 0 5%;
  }

  p.postScrolly {
    margin-top: 2rem;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

/* ICONS */

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
