#graphic {
  padding-top: 60px;
  position: relative;
}

.transitionOut {
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition-timing-function: ease-in;
}

.transitionIn {
  opacity:1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition-timing-function: ease-in;
}

#scrollyContainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#sections {
  position: relative;
  display: inline-block;
  max-width: 350px;
  top: 0px;
  padding-bottom: 20px;
  pointer-events: auto;
}

.step {
  margin-bottom: 250px;
  line-height: 23px;
  padding-right: 30px;
}

.step > p {
  margin: 0 0 20px 0;
  line-height: 1.7;
  font-size: 18px;
}

.step:first-of-type {
  margin-top: 200px;
}

.step > p:nth-child(2) {
  margin-bottom: 5px;
}

.scrollyLegend {
  font-size: 14px !important;
  color: #9d9d9d;
  line-height: 1.5 !important;
  font-style: italic;
}

span.black, span.hispanic, span.white {
  white-space: nowrap;

}

span.black > span, span.hispanic > span, span.white > span {
  white-space: normal;
  font-size: 18px;
  font-weight: 700;
}

span.black:before, span.hispanic:before, span.white:before {
    content:"\A";
    width:7px;
    height:7px;
    border-radius:50%;
    display:inline-block;
    margin:0 3px 3px 2px;
}

span.black:before {
  background-color: #fdbf11;
}

span.hispanic:before {
  background-color: #ca5800;
}

span.white:before {
  background-color: #1696d2;
}

#legendMap {
  max-width: 250px;
}

#ranges > div {
  display: inline-block;
  width: 24%;
  border-right: 1px black solid;
  height: 15px;
}

#ranges > div:nth-child(4) {
  border-right: 0px black solid;
}

#range1 {
  background-color: #fff3d1;

}

#range2 {
  background-color: #fce39e;

}

#range3 {
  background-color: #fdd870;

}

#range4 {
  background-color: #fdbf11;

}

#edition {
  margin-top: -5px;
}

#edition > p {
  display: inline-block;
  width: 21%;
  margin: 0;
  font-size: 14px;
}

#edition > p:nth-child(2) {
  width: 24%;
}

#edition > p:nth-child(3) {
  width: 23%;
}

span.underlineBoundaries {
  font-size: 18px;
}

span.avg {
  font-size: 18px;
  border-bottom: 1px black dashed;
  padding: 0px 2px 2px 2px;
}

.lastStepShort {
  margin: 0px;
}

#extra-space {
  height: 300px;
}

#chart {
  display: inline-block;
  z-index: 1;
  position: relative;
  width: 100%;
  max-width: 600px;
  /* height: 600px; */
  vertical-align: top;
}


#scrollyMap {
  width: 100%;
  max-width: 600px;
  height: 600px;
}

#chart.relativeTop {
  position: relative;
  max-width: 600px;
  height: 600px;
}

#chart.stickyChart {
  position: fixed;
  top: 80px;
  padding-left: 4px;
  max-width: 600px;
  height: 600px;
}

#chart.relativeBottom {
  position: relative;
  vertical-align: bottom;
  max-width: 600px;
  height: 600px;
}

/*CSS SCATTER PLOT*/
#scatter {
  color: #353535;
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 400;
}

.tick > text {
  fill: #353535 !important;
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.label-axis {
  font-size: 15px;
  font-style: italic;
  fill: #353535;
}

.school-names {
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 700;
  fill: #353535;
  font-size: 15px;
}

.textLegend {
  fill: #353535 !important;
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 400;
  font-size: 15px;
}


/* SMALLER DEVICES MEDIA QUERIES */

@media (max-width: 1170px) {
  #scrollyMap {
    height: 60vh;
  }

  #chart {
    height: 60vh;
  }

  #chart.relativeTop {
    height: 60vh;
  }

  #chart.relativeBottom {
    bottom: -2rem;
    height: 60vh;
  }

  #chart.stickyChart {
    height: 60vh;
  }
}

@media (max-width: 770px) {

  #scrollyMap {
    margin: 0 auto;
    max-width: 650px;
    height: 75vh;
    width: 100%;
  }

  #sections {
    z-index: 1;
    max-width: 70%;
    display: inherit;
    margin: 0 auto;
  }

  .step {
    background: rgba(255, 255, 255, 1);
    box-shadow: rgb(136 136 136) 4px 4px 16px;
    padding: 5% 5% 5% 7%;
  }

  #chart {
    z-index: 0;
    height: 75vh;
    max-width: 650px;
    width: 100%;
  }

  #chart.relativeTop {
    position: absolute;
    top: 0;
    left: 0px;
    height: 75vh;
    max-width: 650px;
    width: 100%;
  }

  #chart.relativeBottom {
    position: absolute;
    height: 75vh;
    max-width: 650px;
    width: 100%;
    bottom: -95px;
  }

  #chart.stickyChart {
    position: fixed;
    padding-left: 0px;
    max-width: 650px;
    height: 75vh;
    width: 100%;
  }

  #scatter {
    width: 100%;
    max-width: 650px;
  }
}

@media (max-width: 600px) {

  #scrollyMap {
    margin: 0 auto;
    height: 80vh;
    width: 90%;
  }

  #sections {
    z-index: 1;
    max-width: 93%;
    display: inherit;
    margin: 0 auto;
  }

  .step {
    background: rgba(255, 255, 255, 1);
    box-shadow: rgb(136 136 136) 4px 4px 16px;
    padding: 5% 7% 5% 7%;
  }

  .step > p:last-of-type {
    margin-bottom: 0px;
  }

  #chart {
    z-index: 0;
    height: 80vh;
  }

  #chart.relativeTop {
    position: absolute;
    top: 0;
    left: 0px;
    height: 80vh;
  }

  #chart.relativeBottom {
    position: absolute;
    height: 80vh;
    width: 95%;
  }

  #chart.stickyChart {
    position: fixed;
    padding-left: 0px;
    width: 90%;
    height: 80vh;
  }

}

@media (max-width: 350px) {

  #scrollyMap {
    height: 75vh;
  }

  #chart.relativeBottom {
    height: 75vh;
    bottom: 125px;
  }

  #chart {
    height: 75vh;
  }

  #chart.relativeTop {
    height: 75vh;
  }

  #chart.stickyChart {
    height: 75vh;
  }
}
