.mapboxgl-ctrl-group {
  display: block;
}

#containerTool {
  max-width: 960px;
  width: 100%;
  margin: 5rem auto;
}

.ui-menu-item-wrapper {
  font-size: 16px;
}

#containerTool h6 {
  line-height: 27px;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

p.dek {
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 1.8;
}

.dek > span.underlineBoundaries {
  font-size: 16px;
}

.underlineBoundaries {
  border-bottom: 2px #ec008b solid;
  padding: 0px 2px 2px 2px;
}

.underlineBoundaries > span {
  font-size: 16px;
}

#searchInput {
  display: block;
}

#searchInputMobile {
  display: none;
}

#swipeLegend {
  display: none;
}

#containerMap {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 600px;
}

#theMap {
  height: 500px;
}

.schoolContainer {
  position: relative;
  margin-bottom: 26px;
  border-bottom: 1px #D2D2D2 solid;
  padding: 27px 14px 10px 17px;
  max-width: 85%;
  cursor: pointer;
  background: #fcfcfc;
}

.schoolContainer:hover {
  background-color: #f6f6f6;
  box-shadow: #bdbdbd -1px 4px 4px -2px;
}

.schoolContainer:hover > .schoolA > p {
  font-weight: 700;
}

.schoolContainer.selected {
  background-color: #f6f6f6;
  box-shadow: #bdbdbd -1px 4px 4px -2px;
  cursor: default;
}

.schoolContainer.selected > .schoolA > p {
  font-weight: 700;
  font-size: 16px;
}

.schoolContainer.selected > .withinOne > p, .schoolContainer.selected > .accrossTwo > p {
  background-color: #f8f8f8;
}

.schoolContainer:last-of-type {
  border-bottom: 0px #D2D2D2 solid;
  margin-bottom: 5px;
}

.withinOne, .accrossTwo {
  position: absolute;
  top: 6px;
  left: 8px;
}

.accrossTwo > .number::before {
  background: repeating-linear-gradient(
    45deg,
    #f5cbdf,
    #f5cbdf 5px,
    #eb99c2 5px,
    #eb99c2 10px
    )
  }

  .withinOne > .number::before {
    background: #f5cbdf;
  }

  .withinOne > p, .accrossTwo > p  {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding-right: 6px;
    position: relative;
    top: 0%;
    transform: translateY(-6%);

  }

  .number::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 1px;
    margin-bottom: -3px;
  }

  .number > span {
    font-weight: bolder;
    padding-left: 3px;
    font-size: 15px;
  }

  .graphicSchool:first-child {
    margin-top: 33px;
  }

  .barchart {
    display: flex;
    margin-bottom: -4px;
    max-width: 94%;
  }

  .barchart > div {
    display: inline-block;
    margin: 0;
    height: 18px;
  }

  .schoolA {
    margin-top: 10px;
  }

  .schoolB {
    margin-bottom: 10px;
  }

  .schoolA > p {
    margin: 0 0 0 -5px;
    font-size: 16px;
  }

  .schoolB > p {
    margin: 0 0 10px 0;
    font-size: 16px;
  }

  .blackPct {
    background-color: #fdbf11;
  }

  .hispPct {
    background-color: #ca5800;
  }

  .whitePct {
    background-color: #1696d2;
  }

  .otherPct {
    background-color: transparent;
  }

  .marks, .ticks {
    position: relative;
    max-width: 94%;
  }

  .ticks {
    margin-top: 30px;
  }

  .marks > div {
    position: absolute;
    top: -5px;
    display: inline-block;
    width: 1px;
    background-color: #332d2f;
    height: 47px;
  }

  .ticks > div {
    position: absolute;
    display: inline-block;
    top: -28px;
    font-size: 13px;
  }

  .tick0 {
    left: -5px;
  }

  .tick50 {
    left: 46%;
  }

  .tick100 {
    left: 94%;
  }

  .mark50 {
    left: 49.9%;
  }

  .mark100 {
    left: 99.9%;
  }

  .schoolB > .graphicSchool > .marks {
    display: none;
  }

  #containerText > p {
    font-size: 16px;
    margin-top: 0px;
    line-height: 25px;
  }

  span#thisMsa {
    font-size: 16px;
    margin-top: 0px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 5px;
  }

  #noteBoundaries, #noteBoundariesMobile {
    font-size: 14px;
    color: #9d9d9d;
    font-style: italic;
  }

  #noteBoundaries {
    display: block;
  }

  #noteBoundariesMobile {
    display: none;
  }

  #colorLegend {
    margin-bottom: 15px;
    margin-top: 20px;
  }

  #containerMap > #colorLegend {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .legendContainer {
    display: inline-block;
    margin-right: 7px;
  }

  .legendContainer > div {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-bottom: -1px;
  }

  #containerMap > #colorLegend > .legendContainer > div {
    width: 7px;
    height: 7px;
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 1px;
    margin-bottom: 0px;
  }

  #containerMap > #colorLegend > .legendContainer:last-of-type {
    margin-right: 0;
  }

  .legendContainer > .hispanic {
    background-color: #ca5800;
    /* border: 1px #ca5800 solid; */
  }

  .legendContainer > .black {
    background-color: #fdbf11;
    /* border: 1px #fdbf11 solid; */
  }

  .legendContainer > .white {
    background-color: #1696d2;
    /* border: 1px #1696d2 solid */
  }

  .legendContainer > .asian {
    background-color: #55b748;
    /* border: 1px #55b748 solid */
  }

  .legendContainer > .other {
    background-color: #9d9d9d;
    /* border: 1px #9d9d9d solid */
  }

  .legendContainer > .mixed {
    background-color: #d2d2d2;
    /* border: 1px #d2d2d2 solid */
  }

  .legendContainer > .rest {
    background-color: #9d9d9d;
    border: 1px #9d9d9d solid
  }

  .legendContainer > p {
    display: inline-block;
    line-height: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .acrossLegend, .withinLegend {
    font-size: 16px;
  }

  .acrossLegend::before, .withinLegend::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 4px;
    margin-left: 3px;
    margin-bottom: -3px;
  }

  .acrossLegend::before {
    background: repeating-linear-gradient(
      45deg,
      #f5cbdf,
      #f5cbdf 5px,
      #eb99c2 5px,
      #eb99c2 10px
      );
    }

    .withinLegend::before {
      background: #f5cbdf;
    }

    #boundariesMap {
      width: 100%;
      margin-top: 5px;
    }

    #containerExplore {
      max-width: 305px;
      display: inline-block;
      margin-right: 50px;
      width: 100%;
      margin-top: 6px;
    }

    #searchInput, #searchInputMobile {
      position: relative;
    }

    #searchInput > input, #searchInputMobile > input {
      width: 271px;
      padding: 11px 16px;
      color: #696969;
      line-height: 24px;
      font-size: 16px !important;
      margin-bottom: 20px;
      border: 1px #D2D2D2 solid;
    }

    #searchInput > img, #searchInputMobile > img {
      position: absolute;
      top: 15px;
      right: 4%;
      width: 17px;
    }

    #titleBars {
      font-size: 16px;
      margin-top: 4px;
      line-height: 25px;
      max-width: 70%;
      font-weight: 700;
    }

    #exploreList {
      width: 100%;
      height: 462px;
      overflow: auto;
      margin-top: 8px;
    }

    .text {
      display: inline-block;
      margin-left: 5px;
      vertical-align: top;
    }

    .text > p {
      font-size: 15px;
      line-height: 1.2;
      margin: 0px 0px 5px 0px;
    }

    .moreSchools {
      font-size: 16px;
    }

    .moreSchools > span.underlineBoundaries {
      font-size: 16px;
    }

    .exploreContainer.selected > .pieContainer > .text > p {
      font-weight: 700;
    }

    .text > p:first-of-type {
      color: #fdbf11;
    }

    .text > p:nth-of-type(2n+0) {
      color: #55b748;
    }

    .text > p:last-of-type {
      color: #1696d2;
    }

    #otherSchools {
      max-width: 97%;
    }


    #otherSchools > p {
      color: #353535;
      font-size: 14px;
      margin-bottom: 0px;
    }

    #otherSchools > p > span {
      font-weight: 700;
      font-size: 14px;
    }


    /* CSS scroll bar */

    ::-webkit-scrollbar {
      width: 10px;
      height: 11px;
    }

    ::-webkit-scrollbar-track {
      background: #ededed;
    }

    ::-webkit-scrollbar-thumb {
      background: #a3a3a3;
    }

    /* SMALLER SCREENS MEDIA QUERIES */


    @media (max-width: 1170px) {

      .mapboxgl-ctrl-group {
        display: none;
      }

      #containerTool {
        width: 96%;
      }

      #containerMap {
        width: 60%;
      }

      #containerExplore {
        margin-right: 5%;
        max-width: 32%;
      }
    }

    @media (max-width: 770px) {

      #containerTool {
        width: 100%;
        margin: 2.667rem auto;
      }

      #containerMap {
        width: 100%;
      }

      #theMap {
        height: 350px;
      }

      #searchInputMobile {
        display: block;
      }

      #searchInputMobile > img {
        right: 7%;
      }

      #wrapGraphic {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      #wrapGraphic > #containerExplore {
        margin-right: 0;
        order: 2;
        max-width: 100%;
        margin-top: 5px;
      }

      #wrapGraphic > #containerMap {
        order: 1;
        max-width: 100%;
        top: 20px;
      }

      #searchInput {
        display: none;
      }

      #swipeLegend {
        display: block;
        font-size: 15px;
        color: #353535;
        margin-top: 0;
      }

      #searchInputMobile > input {
        width: 90%;
      }

      #titleBars {
        margin-top: 15px;
        max-width: 100%;
      }

      #exploreList {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        height: auto;
        margin-top: 10px;
      }

      .schoolContainer {
        width: 257px;
        flex: none;
        max-width: 100%;
        margin-right: 20px;
        flex-grow: 1;
        margin-bottom: 15px;
      }

      .schoolContainer:last-of-type {
        border-bottom: 1px #D2D2D2 solid;
      }

      .withinOne > p, .accrossTwo > p {
        transform: translateY(-2%);
      }


      .schoolA > p {
        min-height: 79px;
      }

      #boundariesMap {
        margin-top: 0px;
      }

      #containerMap > #colorLegend {
        background: white;
        padding-bottom: 5px;
        margin-bottom: 0px;
      }

      #noteBoundaries {
        display: none;
      }

      #noteBoundariesMobile {
        display: block;
        order: 3;
        margin-bottom: 0;
      }
    }

    @media (max-width: 600px) {

      #wrapGraphic {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

      }

      #wrapGraphic > #containerExplore {
        margin-right: 0;
        order: 2;
      }

      #wrapGraphic > #containerMap {
        order: 1;
      }

      #theMap {
        height: 300px;
      }

      p.dek {
        margin-bottom: 34px;
        font-size: 18px;
        line-height: 1.8;
      }

      .dek > span.underlineBoundaries {
        font-size: 18px;
      }

      .acrossLegend, .withinLegend {
        font-size: 18px;
      }
    }

    @media (max-width: 350px) {
      #theMap {
        height: 250px;
      }

      .schoolContainer {
        width: 250px;
      }
    }
