#scrollyContainer {
  max-width: 1200px;
  width: 100%;

  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

#scrollyContainer > p {
  color: white;
}

#graphic {
  padding-top: 60px;
}

#sections {
  position: relative;
  display: inline-block;
  width: 300px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
  padding-left: 750px;
}

.step {
  margin-bottom: 200px;
  font-size: 16px;
  line-height: 23px;
}


.step >  p > span {
  font-weight: 700;
}

span#black-span {
  color: #fdbf11;
}

span#hispanic-span {
  color: #55b748;
}

span#white-span {
  color: #1696d2;
}

span#all-dot {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: darkgray;
}


#extra-space {
  height: 300px;
}

#chart {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 10px;
  width: 700px;
  height: 600px;
}


#exploreMap {
  width: 700px;
  height: 600px;
}


/*CSS SCATTER PLOT*/
#scatter {
  color: #353535;
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 400;
}

.tick > text {
  fill: #353535 !important;
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.label-axis {
  font-size: 14px;
  font-style: italic;
  fill: #353535;
}


.school-names {
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 400;
  max-width: 50px;
}
