#scrollyContainer {
  max-width: 1200px;
  width: 100%;

  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

#scrollyContainer > p {
  color: white;
}

#graphic {
  padding-top: 60px;
}

#sections {
  position: relative;
  display: inline-block;
  width: 300px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
  padding-left: 750px;
}

.step {
  margin-bottom: 200px;
  font-size: 16px;
  line-height: 23px;
}


/* .step >  p > span {
  font-weight: 700;
} */

span.black {
  border-bottom: 2px #fdbf11 solid;
  padding: 0px 2px 2px 2px;
}

span.hispanic {
  border-bottom: 2px #ca5800 solid;
  padding: 0px 2px 2px 2px;
}

span.white {
  border-bottom: 2px #1696d2 solid;
  padding: 0px 2px 2px 2px;
}

span.allDot {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: darkgray;
}


#extra-space {
  height: 300px;
}

#chart {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 10px;
  width: 700px;
  height: 600px;
}


#exploreMap {
  width: 700px;
  height: 600px;
}

#legendMap {
  max-width: 250px;
}

#ranges > div {
  display: inline-block;
  width: 24%;
  border-right: 1px black solid;
  height: 15px;
}

#ranges > div:nth-child(4) {
  border-right: 0px black solid;
}

#range1 {
  background-color: #fff3d1;

}

#range2 {
  background-color: #fce39e;

}

#range3 {
  background-color: #fdd870;

}

#range4 {
  background-color: #fdbf11;

}

#edition > p {
  display: inline-block;
  width: 21%;
  margin: 0;
  font-size: 15px;
}

#edition > p:nth-child(2) {
  width: 24%;
}

#edition > p:nth-child(3) {
  width: 23%;
}

span.avg {
  border-bottom: 1px black dashed;
  padding: 0px 2px 2px 2px;
}


/*CSS SCATTER PLOT*/
#scatter {
  color: #353535;
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 400;
}

.tick > text {
  fill: #353535 !important;
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.label-axis {
  font-size: 14px;
  font-style: italic;
  fill: #353535;
}


.school-names {
  font-family: 'Lato', 'Arial', sans-sans-serif;
  font-weight: 700;
  fill: #353535;
}
